{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<b class="text-secondary">Basic Information</b><br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ customer_form|crispy }}
            <input type="hidden" name="action" value="update_profile">
            <button type="submit" class="btn btn-warning ">Save</button>
        </form>
    </div>
</div>
<b class="text-secondary">Password Change</b><br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ password_form|crispy }}
            <input type="hidden" name="action" value="update_password">
            <button type="submit" class="btn btn-warning ">Save</button>
        </form>
    </div>
</div>
{% endblock %}